    /* Body */

:root{
    --text-color:#2196F3;
    --text-large: 44px;
    --text-normal: 16px;
    --text-small: 14px;
}

body{
font-family: 'Roboto', sans-serif;
width: 1600px;
height: 2348px;
width: 1600px;
height: 2348px;
top: -3267px;
left: -3897px;


}


/*  Studio Page/Header Section */

.webstudio{
    padding-left: 215px;
    margin-top: 24px;
}

.logo{
    text-decoration: none;
}

.web{
color: var(--text-color);
font-size: 26px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;

}

.studio{
color: #000000;
font-size: 26px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;

}

/* Navication section */

.header{
    width: 1600px;
    height: 55px;
    flex-shrink: 0;
    color: #FFF;
}

.nav ul li{
display: inline;
}

.nav a{
    text-decoration: none;
}

.studio-activ{
position: absolute;
width: 42px;
height: 16px;
top: 32px;
left: 453px;
color: var(--text-color);
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.portfolio{
position: absolute;
width: 58px;
height: 16px;
top: 32px;
left: 545px;
color: #212121;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.contacts{
position: absolute;
width: 58px;
height: 16px;
top: 32px;
left: 653px;
color: #212121;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.cursor {
position: absolute;
width: 32px;
height: 12px;
top: 48px;
left: 483px;

}

.mail{
position: absolute;
width: 135px;
height: 16px;
top: 32px;
left: 1097px;
color: var(--text-color);
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;
}

.tel{
position: absolute;
width: 113px;
height: 16px;
top: 32px;
left: 1272px;
color: #757575;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
text-decoration: none;
}

.cursor-mail{
position: absolute;
left: 1119px;
top: 54px;

}

/* Portfolio Page / Header Section */

.portfolio-activ{
position: absolute;
width: 58px;
height: 16px;
top: 32px;
left: 545px;
color: var(--text-color);
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.studio-portfolio{
position: absolute;
width: 42px;
height: 16px;
top: 32px;
left: 453px;
color: #212121;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.studio-activ:hover, .studio-activ:focus,
.portfolio:hover, .portfolio:focus,  
.contacts:hover, .contacts:focus,
.tel:hover, .contacts:focus,
.portfolio-activ:hover, .portfolio-activ:focus,
.studio-portfolio:hover, .studio-portfolio:focus {
   color: var(--text-color);
}


/* Main section for Studio Page */

.background{
 background: #2F303A;
 width: 1600px;
 height: 600px;
 flex-shrink: 0;
}

.title{
position: absolute;
width: 696px;
height: 120px;
top: 280px;
left: 452px;
font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 60px;
letter-spacing: 0.06em;
text-align: center;
color: #FFFFFF;

}


.button-book-a-service{
 
position: absolute;
width: 200px;
height: 50px;
top: 430px;
left: 700px;
border-radius: 4px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
cursor: pointer;

}

.request{
color: #FFF;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: 1.875em;
letter-spacing: 0.96px;
}

/* Details section */

 .description-what-we-do{
 background-color: #FFFFFF;
 width: 1600px;
 height: 2348px;
 padding-left: 100px;
}

.details {
display: flex;
position: absolute;
width: 1170px;
height: 101px;
flex-shrink: 0;
top: 730px;
left: 215px;

}

h5{
color: #212121;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.details p {

color: #757575;
font-size: 14px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
display: flex;
width: 270px;
height: 75px;
flex-direction: column;
flex-shrink: 0;
justify-content: space-evenly;
padding-right: 30px;

}


/* What we do section */

.what-we-do{
width: 100%;
left: 701px;
top: 969px;
text-align: center;
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
letter-spacing: 0.03rem;
color: #212121;
}

.images-what-we-do{
    position: absolute;
    width: 1100px;
    height: 386px;
    left: 215px;
    top: 969px;
}


.images-what-we-do ul {
display: flex ;
justify-content: space-evenly;
list-style-type: none;
}

.first-image {
    padding-right: 30px;
}

.second-image {
    padding-right: 30px;
}

/* Our Team */

.our-team {
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;
    background: #F5F4FA;

}

.our-team h2 {
    width: 165px;
    height: 42px;
    left: 718px;
    top: 1543px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    width: 100%;
    margin-top: 94px;
    
}

.our-team ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-right: 120px;

}

.card {
    border-radius: 0px 0px 4px 4px;
    background: #FFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-content:space-between;
    flex-direction: column;
    height:100%;
}


.our-team h4 {
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom:5px;
    color: #212121;

}

.our-team span {
    color: #757575;
text-align: center;
font-size: 16px;
font-family: Roboto;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.48px;
width: 130px;
height: 19px;
top: 1954px;
left: 285px;

}

.first-card,
.second-card,
.third-card,
.fourth-card {
    padding-bottom: 20px;
}

/* Footer Section */

.footer-section {
    position: absolute;
    width: 1600px;
    height: 251px;
    flex-shrink: 0;
    background: #2F303A;
    top: 2097px;

}
    
.studio-footer {
color: #FFFFFF;
font-size: 26px;
font-family: Raleway;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
margin-top: 60px;

}

.footer-section ul {
list-style-type: none;
margin-left: 176px;

}

.footer-section a {
text-decoration: none;
}

.footer-paragraph {
    color: #FFF;
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.42px;
}

.footer-mail {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
}


.footer-tel {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.42px;
}

.footer-paragraph:hover,
.footer-mail:hover,
.footer-tel:hover {
    color: #2196F3;
}

.footer-paragraph:focus,
.footer-mail:focus,
.footer-tel:focus {
    color: #2196F3;
}
